html,
body {
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.removeDone {
	border-radius: 8px;
}

.title {
	color: rgb(120, 198, 219);
	text-align: center;
}

.checkedAllTask {
	margin-left: 24px;
	border-radius: 8px;
}

.aside {
	height: 400px;
}

.main {
	height: 400px;
}

.d-flex {
	display: flex;
}

.task-title {
	font-weight: 400;
	padding-top: 5px;
}

.gray {
	color: #BDBDBD;
}


.task-item__buttons {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.notify-holder {
	height: 60px;
	margin-bottom: 20px;
}

.card {
	border-radius: 16px;
	overflow: hidden;
}

.empty-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.empty-list__title {
	font-size: 28px;
	margin-bottom: 15px;
	font-weight: 300;
}

.empty-list__icon {
	color: #42BE2A;
	font-size: 32px;
}

.btn-action {
	border: none;
	background: transparent;
	padding: 0 5px;
}

.btn-action[data-action='done'] {
	font-size: 18px;
	color: green;
}

.btn-action[data-action='delete'] {
	font-size: 18px;
	color: red;
}

.btn-add {
	margin-top: 24px;
}

.close {
	color: #c3c3c3 !important;
	text-decoration: line-through !important;
}

.item-list {
	display: flex !important;
	justify-content: space-between;
}

.none {
	display: none !important;
}

.float-right {
	float: right;
}

.theme {
	position: absolute;
	top: 0;
	right: 19px;
	padding: 10px;
	background: transparent;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
	border-radius: 10px;
}

.theme svg {
	cursor: pointer;
}

.container {
	position: relative;
}